* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
  }
  

  .logo {
    color: tomato;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  ul {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  .link {
    letter-spacing: 1px;
  }
  
  .btn {
    width: 100px;
    border-radius: 5px;
    background-color: tomato;
    color: white;
    padding: 10px;
    border: none;
  }
  
  .img {
    width: 150px;
    height: 250px;
  }
  
  .hero {
    width: 100%;
    background: rgb(245, 61, 5);
    color:white;
    padding: 0 20px;
  }
  
  .imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .heading {
    text-align: center;
  }
  
  .hero1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .addBtn {
    border: none;
    background-color:white;
    color:orangered;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
  }
  /* .heading{
    color:rgb(0, 0, 0)
  } */
  .addContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .details {
    max-width: 300px;
    margin-top: 10px;
  }
  
  .label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border:none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
.submitBtn, .cancelBtn {
    outline: none;
    border: none;
    background-color: white;
    color:orangered;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}  
.card{
    width:300px;
    padding:10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2) ;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.cardDisplay{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    margin-left:9%;
    padding:50px;
    
    
}

.deleteBtn{
  background-color: rgb(45, 154, 226);
  color:white;
  padding:10px;
  border:10px;
  border-radius:5px;
}
.gold{
  position: relative;
  width:50px;
  height:50px;
  border: 5px solid gold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:5px;
  margin-top: 15px;
}

.fire{
  position: absolute; /* Add this */
  top: -20px; /* Adjust as needed */
  right: -10px; /* Adjust as needed */
  width:40px;
  height:40px;
  color: gold;
  z-index:1000;
  
  
}
.cancelBtn{
  margin-left:10px;
}
.hbt{
  text-align:center;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  

  .hero1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .imgDiv {
    flex-direction: column;
  }

  .addContainer {
    align-items: center;
  }

  .cardDisplay {
    justify-content: center;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .nav {
    flex-direction: row;
  }

  .hero1 {
    flex-direction: row;
  }

  .imgDiv {
    flex-direction: row;
  }

  .addContainer {
    align-items: flex-start;
  }

  .cardDisplay {
    justify-content: space-around;
  }
}
